@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans|Roboto:400&display=swap&subset=cyrillic');
@import url('file:///home/USER/.cache/wal/colors.css');


:root {
    --roboto: 'Roboto', sans-serif;;
    --noto-sans: 'Noto Sans', sans-serif;;
    --open-sans: 'Open Sans', sans-serif;
    --background: #fff;
/*    --foreground: var(--color0);
    --second: var(--color2);
    --header: var(--color1); */
    --foreground: #1a1a1a;
    --second: #999999;
    --header: #ff3333;
}

[data-theme="dark"] {
    --roboto: 'Roboto', sans-serif;;
    --noto-sans: 'Noto Sans', sans-serif;;
    --open-sans: 'Open Sans', sans-serif;
    --background: #1a1a1a;
    --foreground: #f1f1f1;
    --second: #999999;
    --header: #ff6666;
}

html {
    font-size: 18px;
}

body {
    background: var(--background);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin: 0;
    padding-left: 0rem;
    word-spacing: 0.8rem;
}

.prompt {
    font-size: 0.9rem;
    font-family: var(--roboto);
    color: var(--foreground);
    padding: 0 0 0.35rem 0;
}

.prompt~.prompt {
    padding: 1rem 0 0.35rem 0;
}

span {
    color: var(--second);
}

h1 {
    display: inline;
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: normal;
    color: var(--header);
    padding-left: 0rem;
}

a {
    font-family: var(--roboto);
    font-size: 1rem;
    color: var(--foreground);
    text-decoration: none;
    outline: none;
}

a:hover {
    font-family: var(--roboto);
    color: var(--header);

}

input {
    font-family: var(--roboto);
    font-size: 1rem;
    color: var(--foreground);
    background-color: var(--background);
    border: none;
    margin: 0rem 0rem 0rem 0.8rem;
}

input:focus{
    outline: none;
}

.checkbox_position {
    position: absolute;
    top: 10px;
    right: 10px;
}

.check_box {
    display: none;
}

.check_box + label {
    background: url('../images/bxs-moon.svg') no-repeat center center / contain;
    height: 22px;
    width: 22px;
    display:inline-block;
    padding: 0px 0 0 0px;
    margin: 10px;
}

.check_box:checked + label {
    background: url('../images/sun-f.svg') no-repeat center center / contain;
    height: 22px;
    width: 22px;
    display: inline-block;
    padding: 0 0 0 0px;
}